mixin table(n)
  table(border="1" cellspacing="0" cellpadding="5")
    - for (let i = 0; i < n; i++)
      tr
        - for (let j = 0; j < n; j++)
          - let cel = (Math.floor(j / 2) % 2 === 0) ? (i % 2 === 0 ? 'gray' : 'white') : (i % 2 === 0 ? 'white' : 'gray')
          td(class=cel)