include components/data.pug

doctype html
html(lang="ru")
    head
        title #{title}
    body
        block header

        block content

        block footer
            footer
                p © Руденко Д.С., Б9122-09.03.04, 2024-2025
                a(href="ruddarya@mail.com") ✉ Контакты
        
        block variables